@use "../../scss/custom.scss";

.mainWrapper{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.logo {
  width: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.contentWrapper {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  width: 55rem;
  height: 30rem;
}
.listOptions{
  height: 40rem;
}
.welcomMessage {
  @include custom.custom-font($size: 30px, $weight: 700);
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}
.subMessage{
  font-size: 16px;
  margin-top: -0.5rem;
  color: #C8C8C8 ;
}
.componies{
  width: 40rem;
  height: 22rem;
  background-color: rgba(255,250,250, 0.1);
  border: 1px solid rgba(255,250,250, 0.3);
  border-radius: 15px;
  margin-bottom: 2rem;
  padding: 0 15px;
}

.spinnerWrap{
  display: grid;
  justify-content: center;
  align-content: center;
}

.iconWrap{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0;
  margin-right: 0;
  cursor: pointer;
}

.arrowIcon{
  font-size: 40px !important; 
  padding-right: 0px;
  margin-right: -9px; 
}
.searchBar{
  border: none;
  width: 100%;
  border-bottom: 2px solid rgba(255,250,250, 0.9);
  border-radius: 0px;
  background-color: transparent;
  --bs-gutter-x: 0;
}

.searchContent{
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
}

.customWrapper{
  width: 100%;
  display: grid;
  justify-content: center;
}
.rowContent{
  border-bottom: 1px solid rgba(255,250,250, 0.3);
  cursor: pointer;
}
.rowContent:hover{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.inpuTWrapper{
  border: 0.8px solid #C8C8C8;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  width: 20rem;
  height: 52px;
  margin: 0 auto;
  margin-top: -1rem;
  margin-bottom: 3rem;
}
.nextBtn{
  width: 100%;
}
.spinner{
  border: 10px solid rgba(0, 0, 0, 0.3); /* #f3f3f3;  Light grey */
  border-top: 10px solid #BF40BF; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tryBtn{
    background: #31d98a;
    border-radius: 10px;
    border: none;
    color: black;
}

.spinnerWrapper{
  position: absolute;
  top: 45%;
  left: 46%;
}

// SCROLL START

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6); 
}

// END